################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Marmat.WebApp/bin/
/Marmat.WebApp/obj/