@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div class="section-title-area text-center">
   
      <h2 class="section-title default-text-gradient">¡Correo Enviado!</h2> <br/>
       <p >Su Aviso de Visitantes se recibío con exito</p>
     <img src="~/images/email_Enviado.png"  width="300" height="300"/>
     <br />
     <p class="section-description">designed by Freepik from Flaticon</p>     
     
     <br />
     <br />
     
       
    <div>
        <a asp-action="AvisoHome">VOLVER A LA LISTA</a>
    </div>
     
</div><!-- /.section-title-area -->


                                                                


