@model Marmat.WebApp.Models.AvisoViewModel

@{
    ViewData["Title"] = "Eliminar Aviso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="h1">Eliminar Aviso</h1>

    <h3 class="h3">¿Está seguro de eliminar este aviso?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Fecha
            </dt>
            <dd class="col-sm-10">
                @Model.Fecha.ToString("MM/dd/yyyy")
            </dd>
            <dt class="col-sm-2">
                Comentario
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comentario)
            </dd>
        </dl>

        <form asp-action="EliminarAviso">
            @Html.HiddenFor(Model=>Model.IdAviso)
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="MantenimientoAviso">VOLVER A LA LISTA</a>
        </form>
    </div>
</div>