@model Marmat.DML.ReservaViewModel

@{
    ViewData["Title"] = "ActualizarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h1">Editar Reserva</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ActualizarReserva">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdReserva" class="control-label">ID</label>
                    <input asp-for="IdReserva" class="form-control" readonly="readonly" />
                    <span asp-validation-for="IdReserva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaReserva" class="control-label">Fecha</label>
                    <input type="date" asp-for="FechaReserva" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="FechaReserva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdAreacomun" class="control-label">Área Común</label>
                    @Html.DropDownListFor(model => model.IdAreacomun, new SelectList(Model.areascomunes, "IdAreacomun", "NombreAreacomun"), "--Seleccionar--", new{@class="form-control"})
                    <span asp-validation-for="IdAreacomun" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                    <a asp-action="MantenimientoReserva">VOLVER A LA LISTA</a>
                </div>
            </form>
        </div>
    </div>
</div>


