@model ErrorViewModel
@{
    ViewData["Title"] = "Error 404";
}

<h1 class="text-danger">Error ReCaptcha v3</h1>
<h2>La inteligencia artificial de Google detectó sospechas de que un robot está intentando ingresar sesión o creando usuario</h2>
<br />
<h3>Si es un humano, favor contactar con soporte para revisión</h3>