@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div class="section-title-area text-center">
   
      <h2 class="section-title default-text-gradient">¡Correo Enviado!</h2> <br/>
       <p >Pronto nos pondremos en contacto</p>
     <img src="~/images/email_Enviado.png"  width="300" height="300"/>
     <br />
     <p class="section-description">designed by Freepik from Flaticon</p>     
     
     <br />
     <br />
     
       
        <div>
                    <button class="button" style="background-color: #0f3763 ">@Html.ActionLink("Regresar", "Catalogo", "Catalogo")</button>
         </div>
     
</div><!-- /.section-title-area -->


                                                                


