@model Marmat.WebApp.Models.CondominioViewModel

@{
    ViewData["Title"] = "Editar Condominio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="h1">Editar Condominio</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ActualizarCondominio">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdCondominio" class="control-label">ID</label>
                    <input asp-for="IdCondominio" class="form-control" readonly="readonly" />
                    <span asp-validation-for="IdCondominio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreCondominio" class="control-label">Nombre</label>
                    <input asp-for="NombreCondominio" class="form-control" required oninvalid="this.setCustomValidity('El nombre es requerido')" onchange="this.setCustomValidity('')"/>
                    <span asp-validation-for="NombreCondominio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vacantes" class="control-label">Vacantes</label>
                    <input asp-for="Vacantes" class="form-control" required oninvalid="this.setCustomValidity('El número de vacantes es requerido')" onchange="this.setCustomValidity('')"/>
                    <span asp-validation-for="Vacantes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" required oninvalid="this.setCustomValidity('La descripción es requerida')" onchange="this.setCustomValidity('')"/>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label">Link Google Maps</label>
                    <textarea asp-for="Imagen" class="form-control" required oninvalid="this.setCustomValidity('El Link es requerido')" onchange="this.setCustomValidity('')"> </textarea>
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDireccion" class="control-label">Dirección</label>
                    @Html.DropDownListFor(model => model.IdDireccion, new SelectList(Model.direcciones, "IdDireccion", "NombreDireccion"), "--Seleccionar--", new{@class="form-control"})
                    <span asp-validation-for="IdDireccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />|
                    <a asp-action="MantenimientoCondominio">VOLVER A LA LISTA</a>
                </div>
            </form>
        </div>

        <div class="col-sm-2">
  
        </div>

        <div class="col-sm-4">
            <label asp-for="Imagen" class="control-label">¿Como añadir link de Google Maps al condominio?</label>
           
            <br />
            <br />
            Primero ingresar a <a href=https://www.google.com/maps>www.google.com/maps</A>, seleccionar una ubicación y darle compartir
            <br />
            <br />
            <img src="~/images/ImgGoogleMap1.png" style="width:420px;height:280px"/>
            <br />
            <br />
            Se da clic donde dice "COPIAR HTML"
            <br />
            <br />
            <img src="~/images/ImgGoogleMap2.png"/>
            <br />
            <br />
            Finalmente ese link se pega en el espacio de la izquierda llamado "Link Google Map"
        </div>

    </div>
</div>