@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div class="section-title-area text-center">

    <h2 class="section-title default-text-gradient">¡Cambio de Contraseña Exitoso!</h2> <br />
    <p>Su cambio de contraseña se realizo con exito</p>
    <br />

    <div class="row">
        <div class="form-group text-center">
            @if (Accessor.HttpContext.Session.GetInt32("Rol") == 2)
            {
                <button onclick="location.href='@Url.Action("UsuarioHome","UsuarioHome")'" class="btn btn-default btn-lg rounded-lg"><i class="fa fa-user" aria-hidden="true"> Volver al menú</i></button>
            }
            else
            {
                <button onclick="location.href='@Url.Action("Administrador","Administrador")'" class="btn btn-default btn-lg rounded-lg"><i class="fa fa-user" aria-hidden="true"> Volver al menú</i></button>
            }
        </div>
    </div>

</div><!-- /.section-title-area -->
