@model Marmat.WebApp.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="h1">Registrar Usuario</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="RegistrarUsuario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label">Nombre de Usuario</label>
                    <input asp-for="NombreUsuario" class="form-control" required oninvalid="this.setCustomValidity('El nombre de usuario es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label">Correo</label>
                    <input asp-for="Correo" class="form-control" required oninvalid="this.setCustomValidity('El correo es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pass" class="control-label">Contraseña</label>
                    <input asp-for="Pass" class="form-control" 
                    
                     type="text" placeholder="Contraseña" required pattern="[A-Za-z0-9]{8,16}"
                         title="Debe contener Mayusculas, minusculas y numeros"

                    />
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" required oninvalid="this.setCustomValidity('El nombre es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrimerApellido" class="control-label">Primer Apellido</label>
                    <input asp-for="PrimerApellido" class="form-control" required oninvalid="this.setCustomValidity('El primer apellido es requerido')" onchange="this.setCustomValidity('')"/>
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoApellido" class="control-label">Segundo Apellido</label>
                    <input asp-for="SegundoApellido" class="form-control" required oninvalid="this.setCustomValidity('El segundo apellido es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroTel" class="control-label">Número Telefónico</label>
                    <input asp-for="NumeroTel" class="form-control" required oninvalid="this.setCustomValidity('El número es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="NumeroTel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdRol" class="control-label">Rol</label>
                    @Html.DropDownListFor(model => model.IdRol, new SelectList(Model.roles, "IdRol", "NombreRol"), "--Seleccionar--", new{@class="form-control"})
                    <span asp-validation-for="IdRol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                    <a asp-action="MantenimientoUsuario">VOLVER A LA LISTA</a>
                </div>
            </form>
        </div>
    </div>
</div>