@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header default-template-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Marmat</h2>
                <p class="page-description">Asociación</p>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->

<section class="about-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-top-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-area text-center">
                                <h2 class="section-title default-text-gradient">¿Por qué nosotros?</h2> <br />
                                <p class="section-description">Tenemos las mejores ofertas</p>
                            </div><!-- /.section-title-area -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-5">
                            <div class="about-content-left">
                                <h2 style="text-align:center; font-size: 50px; margin-top: 20%">25<br> Condominios<br><br></h2>
                            </div><!-- /.about-content-left-->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7">
                            <div class="about-content-right">
                                <p>Contamos con una gran cantidad de condominios dentro y fuera de la gran área metropolitaa. Somos una asociación de muchos integrantes con gran experiencia en el sector de las bienes raíces. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 15 dic 6:58pm</p>
                            </div><!-- /.about-conten-right-->
                        </div><!-- /.col-md-7 -->
                    </div><!-- /.row -->
                </div><!-- /.top-content -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-main-content -->
<!-- ====== About Bottom Content ====== -->





<section class="about-bottom-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 full-width-content">
                <div class="image-content gradient-circle">
                    <div>
                        <span>
                            <img src="~/images/testimonial-image.png" alt="johan" />
                        </span>
                    </div>
                </div><!-- /.image-content -->
                <div class="author-content">
                    <div class="author-content-area">
                        <h2 class="author-name default-text-gradient">Dr. Abdus Sabbir</h2>
                        <p class="author-designation">Administrador de Marmat</p>
                    </div><!-- /.author-content-area -->
                </div><!-- /.author-content -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="social-media footer pull-left">
                    <span class="pull-left">Follow me :</span>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div><!-- /.social-media -->
                <div class="author-sign pull-right">
                    <img src="~/images/sine.png" alt="sine" />
                </div><!-- /.author-sign -->
            </div><!-- /.col-md-7 -->
        </div><!-- /.riv row -->
    </div><!-- /.container -->
</section><!-- /.about-bottom-content -->
<!-- ====== Footer-area ====== -->
<div class="call-to-action default-template-gradient">
    <div class="container">
        <div class="row tb">
            <div class="col-md-6 col-sm-6 tb-cell">
                <div class="contact-left-content">
                    <h3>¿Quieres unirte a nuestra asosiación?</h3>
                    <h4>Únete</h4>
                </div><!-- /.contact-left-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 tb-cell">
                <div class="contact-right-content">
                    <h4>+50688888888<span><a href="mailto:company@gmail.com">company@gmail.com</a></span></h4>
                    <a href="https://wa.me/50688888888" class="button">Contáctanos</a>
                </div><!-- /.contact-right-content -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.call-to-action -->
