@model Marmat.WebApp.Models.DistritoViewModel

@{
    ViewData["Title"] = "Registrar Distrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="h1">Registrar Distrito</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="RegistrarDistrito">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombreDistrito" class="control-label">Nombre</label>
                    <input asp-for="NombreDistrito" class="form-control" required oninvalid="this.setCustomValidity('El nombre es requerido')" onchange="this.setCustomValidity('')" />
                    <span asp-validation-for="NombreDistrito" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCanton" class="control-label">Cantón</label>
                    @Html.DropDownListFor(model => model.IdCanton, new SelectList(Model.cantones, "IdCanton", "NombreCanton"), "--Seleccionar--", new{@class="form-control"})
                    <span asp-validation-for="IdCanton" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                    <a asp-action="MantenimientoDistrito">VOLVER A LA LISTA</a>
                </div>
            </form>
        </div>
    </div>
</div>