@model Marmat.WebApp.Models.ProvinciaViewModel

@{
    ViewData["Title"] = "Eliminar Provincia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="h1">Eliminar Provincia</h1>

    <h3 class="h3">¿Está seguro de eliminar esto?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdProvincia)
            </dd>
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreProvincia)
            </dd>
        </dl>

        <form asp-action="EliminarProvincia">
            @Html.HiddenFor(Model=>Model.IdProvincia)
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="MantenimientoProvincia">VOLVER A LA LISTA</a>
        </form>
    </div>
</div>